@import "sanitize.css";
@import "water.css";

.apart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
